@{
    ViewData["Title"] = "Strona Glowna";
}

<div class="content">
    <img class="logo" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="title">Zakład optyczny</h1>
    <div class="sub-text">
        <p class="text">Zaloguj się aby uzyskać dostęp do internetowego panelu pacjenta.</p>
    </div>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <a>Hello @User.Identity.Name</a><br/>
        <p><a asp-controller="Home" asp-action="GoogleLogout">Logout</a></p>
    }
    else
    {
        <p><a asp-controller="Home" asp-action="GoogleLogin">Login</a></p>
    }
</div>