@{
    ViewData["Title"] = "Profil";
}

<div class="content">
        <h1 class="mb-3">Twoje dane</h1>
        <form class="needs-validation" novalidate>
          <div class="rows">
            <div class="form-element">
              <label class="form-label">Imię</label>
              <input type="text" class="form-control" placeholder="Imię" required>
            </div>

            <div class="form-element">
              <label class="form-label">Nazwisko</label>
              <input type="text" class="form-control" placeholder="Nazwisko" required>
            </div>

            <div class="form-element">
              <label class="form-label">Adres email</label>
              <input type="email" class="form-control" placeholder="nazwa@mail.com">
            </div>

            <div class="form-element">
              <label for="address" class="form-label">Pesel</label>
              <input type="number" class="form-control" placeholder="XXXXXXXXXXX" required>
            </div>

          </div>
          <button class="form-button" type="submit">Zapisz dane</button>
        </form>
      </div>