.container {
    max-width: 960px;
}

.content {
    flex: 0 0 auto;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.form-label {
    margin-bottom: .5rem
}

.form-control {
    display: block;
    width: 100%;
    padding: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

    .form-control:focus {
        color: #212529;
        background-color: #fff;
        border-color: #86b7fe;
        outline: 0;
        box-shadow: 0 0 0 .25rem rgba(13,110,253,.25)
    }

.form-element {
    flex: 0 0 auto;
    width: 100%;
    padding: 0px 8px;
    margin-top: 15px;
}

.form-button {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: .3rem
}

    .form-button:hover {
        color: #fff;
        background-color: #0b5ed7;
        border-color: #0a58ca
    }

.rows {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1px;
    margin-right: -.5px;
    margin-left: -.5px;
}
