@{
    ViewData["Title"] = "Terminy";  
}

@{
    var hours = ViewBag.Hours;
    var date = ViewBag.Date;  
}

<div class="content">
    <h1 class= "title">Umów się na wizytę</h1>
    <div class= "form-content">
        <form class = "date-form" action="Terminy">
           <label>Wybierz datę planowanej wizyty:</label>
           <input type = "date" name ="searchDate"/>
           <button type = "submit">Wyszukaj</button>
        </form>
        <p class = "data"></p>
    </div>
   <table>
       <tr>
            <th>Data</th>
            <th>Godzina</th>
            <th>Akcje</th>
        </tr>
           
            @for (int i = 8; i<16; i++)
            {
                foreach(DateTime h in hours)       
                    if(h.Hour == i)     
                        i++;
                <tr>
                    <td> @date </td>
                    <td> @i:00 </td>
                    <td> <input type="button", value="Umów", onclick="location.href='@Url.Action("WhatUser", "Home", new {data = date, godzina = i})'"> </td>
                </tr>
            }
    </table>        
</div>