<div class = "content">
    <h1 class= "title">Szczegóły wizyty</h1>
    <br/><br/>

    <label>Imię i Nazwisko</label>
    <br/>
    <a class = "name"> Łukasz</a>
    <br/><br/>

    <label>Data wizyty</label>
    <br/>
    <a class = "date"> 11/01/2022</a>
    <br/><br/>

    <label>Recepta</label>
    <br/>
    <div>
        <a>cos cos</a>
    </div>
     <br/><br/>

    <label>Notatka</label>
    <br/>
    <div>
        <a>bla bla bla</a>
        <a>bla bla bla</a>
    </div>
</div>