@{
    ViewData["Title"] = "Wizyty";
}

<div class="content">
    <h1 class= "title">Historia wizyt</h1>
    <table>
        <tr>
            <th>Data</th>
            <th>Data</th>
            <th>Akcje</th>
        </tr>
        <tr>
            <td> test </td>
            <td> test </td>
            <td> <button class = "button">więcej informacji</button> </td>
        </tr>
        <tr>
            <td> test </td>
            <td> test </td>
            <td> <button class = "button">więcej informacji</button> </td>
        </tr>
        <tr>
            <td> test </td>
            <td> test </td>
            <td> <button class = "button">więcej informacji</button> </td>
        </tr>
        <tr>
            <td> test </td>
            <td> test </td>
            <td> <button class = "button">więcej informacji</button> </td>
        </tr>
        <tr>
            <td> test </td>
            <td> test </td>
            <td> <button class = "button">więcej informacji</button> </td>
        </tr>
        <tr>
            <td> test </td>
            <td> test </td>
            <td> <button class = "button">więcej informacji</button> </td>
        </tr>

    </table>
</div>