@{
    ViewData["Title"] = "Info";
}
@{
    var app = ViewBag.App;
    var name = ViewBag.UserName;
}
<div class = "content">
    <h1 class= "title">Szczegóły wizyty</h1>

    <div class = "patient">
        <label>Pacjent</label>
        <br/>
        <a class = "name"> @name </a>
    </div>

    <div class = "date">
        <label>Data wizyty</label>
        <br/>
        <a class = "date"> @app.Date</a>
    </div>

    <div class = "taken">
        <label>Odbyta</label>
         <br/>
        @{
            if(app.IsAttended == true)
            {
                <a>✔️</a>
            }
            else if(app.IsAttended == false)
            {
                <a>❌</a>
            }
            else
            {
                <a></a>
            }
        }
    </div>
    <br/>

    <div class = "recept">
        <label>Recepta</label>
        <div class = "recept-content">
        @{
            if(app.Prescription == null)
            {
                <a></a>
            }
            else
            {
                <a>@app.Prescription</a>
            }
        }
        </div>
    </div>

    <div class = "note">
        <label>Notatka</label>
        <div class = "note-content">

        @{
        if(app.Note == null)
            {
                <a></a>
            }
            else
            {
                <a>@app.Note</a>
            }
       }
       </div>
    </div>

    
</div>