@{
    ViewData["Title"] = "Wizyty";
}
@{
    var apps = ViewBag.Apps;
}
<div class="content">
    <h1 class= "title">Historia wizyt</h1>
    <table>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>Akcje</th>
            </tr>

        @foreach(var app in apps)
        {
            <tr>
            <td> @app.AppointmentId </td>
            <td> @app.Date </td>
            
            <td> <input type="button", value="Anuluj wizytę">
                <input type="button", value="Więcej informacji", onclick="location.href='@Url.Action("Check", "Home", new {appID = app.AppointmentId})'"> 
            </td>
            </tr>
        }
    </table>
</div>